################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AppTrace.Collector/obj
/AppTrace.Common/obj
/AppTrace.Common/bin/Debug/net9.0
/AppTrace.Query.API/obj
/AppTrace.Storage/obj
/AppTrace.UI/bin/Debug/net9.0
/AppTrace.UI/obj
/AppTrace.Collector/bin/Debug/net9.0
/AppTrace.Query.API/bin/Debug/net9.0
/AppTrace.Storage/bin/Debug/net9.0
/Tests/AppTrace.Collector.Tests/bin/Debug/net9.0
/Tests/AppTrace.Collector.Tests/obj
/Tests/AppTrace.Common.Tests/bin/Debug/net9.0
/Tests/AppTrace.Common.Tests/obj
/Tests/AppTrace.Integration.Tests/bin/Debug/net9.0
/Tests/AppTrace.Integration.Tests/obj
/Tests/AppTrace.Storage.Tests/bin/Debug/net9.0
/Tests/AppTrace.Storage.Tests/obj
/Tests/AppTrace.UI.Tests/bin/Debug/net9.0
/Tests/AppTrace.UI.Tests/obj
